#Définir un nom
name : Laravel CI
#Définir les triggers
on : 
  push :
    branches : [main]
jobs :
  build:
    runs-on : ubuntu-latest
    steps : 
          #1 récupérer le code source 
        - name : récupérer le code source
          uses : actions/checkout@v5

          #2 - exécuter les tests 
        # - name : Run test
        #   run : cd app_laravel && composer install  && php artisan key:gen && php artisan test 

          #3 Construre l'image
        - name : Build app image
          run : docker build -t bokopolo/laravel-ci-cd:latest .
          #4 Se connecter à docker hub
        - name : Login to docker hub
          uses : docker/login-action@v2
          with :
            username : ${{ secrets.DOCKER_USERNAME }}
            password : ${{ secrets.DOCKER_TOKEN }}

          # 5- Pousser l'image sur la registry
        - name: Push image with new tag

          run: docker push bokopolo/laravel-ci-cd:latest


