#Définir un nom
name : Laravel CI
#Définir les triggers
on : 
  push :
    branches : [main]
jobs :
  build:
    runs-on : ubuntu-latest
    steps : 
        - name : récupérer le code source
          uses : actions/checkout@v5


          